
@{
    ViewBag.Title = "AddLeadCharges";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h2>Add Lead Charges</h2>

<div class="content-wrapper" ng-controller="AddLeadCharges">
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title text-primary"><i class="fa fa-certificate"></i> @ViewData["Title"]</h3>
        </div>
        <div class="box-body">
            <div id="Grid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-right">Name of Work</label>
                            <div class="col-md-2">
                                <label>@(Model != null ? Model.NameOfWork : "NA")</label>
                                <input type="hidden" id="txtWorkId" name="NameOfWork" value="@(Model!=null?Model.Id:0)" />

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-heading dt-head-center">
                            <h3>LEAD CHART</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <table class="table table-hover table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>Name of Material</th>
                                    <th>Lead in KM</th>
                                    <th>Source of Material</th>
                                    <th>Initial Lead KM</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select id="ddlmaterial" class="form-control" required name="Select Materail">
                                            <option value="" class="hidden" selected disabled>Select Material Type</option>
                                            <option value="materail1">Materail 1</option>
                                            <option value="">Material 2</option>
                                            <option value="">Materail 3</option>
                                            <option value="">Materail 4</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" id="txtleadinKM" class="inputclass" required name="Lead in KM" />
                                  
                                    </td>
                                    <td>
                                        <input type="text" id="txtsourceOfMaterail"  class="inputclass" required name="source of materail"/>

                                    </td>
                                    <td>
                                        <input type="text" id="txtinitialLead" class="inputclass" required name="initial lead in km" />
                                    </td>
                                    <td>
                                        <input type="text" id="remark" class="inputclass" required name="remark" />
                                    </td>
                                    <td>
                                        <button id="btnsubmit" class="btn btn-primary" name="Submit" onsubmit="">Submit</button>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
